<div class="container cloumns">

    <div>
        <button class="columns button is-large is-responsive has-background-warning-dark">
            <a href="/dashboard/newpost">
                <p class="has-text-warning-light">New Post</p>
            </a>
        </button>
    </div>
    <br>
    <div>

        <section>
        <div class="columns is-centered">
            <div class="message">
                <div class="message-header has-background-warning-light">
                    <p class="has-text-warning-dark">🍺 My Reviews 🍺</p>
                </div>
                <br>
                {{#each posts as |post| }}

                <div class="card column is-centered is-vcentered" id="cards">

                    <div class="media">
                        <img class="" src="{{post.image}}">
                    </div>
                    <div class="content has-text-dark">
                        <strong>State:</strong> {{post.stadium}}
                        <br>
                        <strong>Brewery Name:</strong> {{post.section}}
                        <br>
                        <strong>Rating:</strong> {{post.rating}}
                        <br>
                        <strong>Description:</strong> {{post.description}}
                        <br>
                        <time class="has-text-grey" datetime="2016-1-1">{{format_time post.date}}</time>
                    </div>

                </div> <br> {{/each}}
            </div> 
        </div>
        <br>
       
    </section>

    </div>

</div>