<main>
    <section>
        <div class="columns is-centered">
            <div class="message">
                <div class="message-header has-background-warning-light">
                    <p class="has-text-warning-dark">🍺 Recently Featured 🍺</p>
                </div>
                <br>
                {{#each posts as |post| }}

                <div class="card column is-centered is-vcentered" id="cards">

                    <div class="media">
                        <img style="width: 350px; height: 350px;" src="{{post.image}}">
                    </div>
                    <div class="media-content">
                        <p class="title is-4 has-text-warning-dark">{{post.user.name}}</p>
                    </div>
                    <div class="content has-text-dark">
                        <strong>State:</strong> {{post.stadium}}
                        <br>
                        <strong>Brewery Name:</strong> {{post.section}}
                        <br>
                        <strong>Rating:</strong> {{post.rating}}
                        <br>
                        <strong>Description:</strong> {{post.description}}
                        <br>
                        <time class="has-text-grey" datetime="2016-1-1">{{format_time post.date}}</time>
                    </div>

                </div> <br> {{/each}}
            </div> 
        </div>
        <br>
       
    </section>
</main>